<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<script th:inline="TEXT">
    function validate_form(){
        console.log("Отрабатывает")
        var old = document.getElementById("matchPassword").value;
        var newp = document.getElementById("newp").value;
        if (old != newp) {
            alert("Type in the same passwords");
            return false; // Остановка отправки формы
        }
        return true;
    }
</script>

<div>

    <form th:object="${passDto}" method="post" action="/user/savePassword" onsubmit="return validate_form()" style="width: 500px; margin: 150px auto; ">
        <h3 class="text-center">Reset your password</h3>
        <br>
        <!-- New Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="newp">New password</label>
            <input type="password" name="password" id="newp" class="form-control" th:field="*{password}"/>
        </div>

        <!-- Confirm Password input -->
        <div class="form-outline mb-4">
            <label class="form-label" for="matchPassword">Confirm</label>
            <input type="password" name="matchPassword" id="matchPassword" class="form-control" th:field="*{newPassword}"/>
        </div>

        <div class="d-none">
            <label>token</label>
            <input id="token" name="token" th:field="*{token}"/>
        </div>



        <button type="submit" class="btn btn-primary btn-block mb-4" value="Update">Update
        </button>
    </form>
</div>

</body>
</html>